<div id="<%= dom_id armor %>">
  <p>
    <strong>Name:</strong>
    <%= armor.name %>
  </p>

  <p>
    <strong>Armor type:</strong>
    <%= armor.armor_type %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= armor.armor_class %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= armor.weight %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= armor.description %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= armor.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= armor.wisdom %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= armor.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= armor.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= armor.constitution %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= armor.charisma %>
  </p>
  
</div>
