<div id="<%= dom_id armor %>">
  <p>
    <strong>Name:</strong>
    <%= armor.name %>
  </p>

  <p>
    <strong>Armor type:</strong>
    <%= armor.armor_type %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= armor.armor_class %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= armor.weight %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= armor.description %>
  </p>

</div>
